# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.idea
.ipynb_checkpoints

# .pyc文件是.py文件编译后生成的字节码文件(byte code),类似Java的.class文件
*.pyc
