# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
*.idea
.ipynb_checkpoints


# Optiver_Realized_Volatility_Prediction比赛(储存位置:百度网盘)
# 原始数据
Competition/Optiver_Realized_Volatility_Prediction/data_init
# 中间数据
Competition/Optiver_Realized_Volatility_Prediction/data_feature
# 训练结果数据
Competition/Optiver_Realized_Volatility_Prediction/result
